.rooms-body {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("./images/20140609-Sand-Ripples.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin: 0;
}
.grid-container .rooms {
    color: #FFFFFF;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rooms p {
    font-size: 72px;
    color: #DDAD4F;
    margin-top: 20px;
}
.rooms span {
    text-align: center;
}
.grid-item {
    background-size: contain;
    background-repeat: no-repeat;
}
.std {
    background-image: url("./images/adam-winger-5zX1KAjPl4o-unsplash\ 1.png");
}
.lux {
    background-image: url("./images/iwood-R5v8Xtc0ecg-unsplash\ 1.png");
}
.vil {
    background-image: url("./images/roberto-nickson-emqnSQwQQDo-unsplash\ \(1\)\ 1.png");
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    height: 100vh;
}
.main-foot-room {
    position: static;
}
